/* Home Page styling*/
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/pexels-digital-buggu-186230.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}
#home{
    text-align: center;
    color: white;
    padding-top: 40px;
    font-size: 40px;
	font-family: 'Righteous', cursive;
    
}
#home p{
	text-align: center;
    color: white;
    font-size: 50px;
	font-family: 'Righteous', cursive;
}
#home a{
    background-color: white;
    border-radius: 20px;
  border: none;
  color: rgb(25, 126, 30);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
}
/* Quiz/Results Page styling*/
.quiz-container{
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border: 1px solid #337917;
	box-shadow: 0 0 8px 3px #fff;
}
.question{
	padding: 20px;
	font-size: 22px;
	background: white;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #337917;
	width: 80%;
}

.option{
	width: 80%;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.514);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
}

.option:hover{
	background: #337917;
	color: #f6f6f6;
}

.submit-btn{
    color: #337917;
	border: none;
	outline: none;
	background: white;
	width: 100px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	margin: 10px;
	font-size: 20px;
}

.submit-btn:hover{
	background: white;
	color: #337917;
}

.option input:checked .option{
	background: #337917;
	color: #000;
}
.result{
	height: 100px;
	text-align: center;
	font-size: 100px;
	padding-top: 250px;
	color: white;
	font-family: 'Righteous', cursive;
}
